@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 1024px) {

	*, :before, :after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

	.menu {
    width: 103%;
 
}
    .ul_menu {
	margin: 0 auto;
	list-style: none;
	display: flex;
	justify-content: center;
	background-color: #75DA8A;
	width: 1020px;
	border-radius: 7px;
	}

	li {
	padding: 17px;
	font-size: 16px;
	color: #fff;
	}

	.slider {
	position: relative;
	padding-top: 20px;
	margin: 0 auto;
	width: 925px;
	height: 570px;
	border-radius: 7px;
	z-index: 1;
  }


  	.slider_container {
  	z-index: 1;
  	}

	.slider_img {
		width: 100%;
		height: 500px;
		object-fit: cover;
		border-radius: 7px;
		display: block;
	}

	.advantages {
		margin: 0 auto;
		width: 1010px;
		height: 300px;
		background-color: #F3F3F3;
		border-radius: 7px;
	}
}

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 640px) {
    
}

@media screen and (max-width: 480px) {
    
}




