.design_house {
	width: 1140px;
	margin: 0 auto;
}

.design_house_logo {
	margin-top: 50px;
	color: #333333;
	font-size: 36px;
	text-align: center;
}

.design_house_container {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

.design_house_text {
	width: 880px;
	font-size: 20px;
}

.design_house_menu {
	list-style-position: inside;
}

.design_house_li {
	color: black;
	font-size: 20px;
}

.design_house_text2 {
	width: 1140px;
	font-size: 20px;
}